{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Creation wish
{% endblock %}


{% block body %}
    <h1>Creation Wish</h1>

    <div class="element">
        <div class="afficheForm">
            {{ form_start(wishForm) }}

            <div class="label">{{ form_label(wishForm.title) }} :</div>
            <div class="detailForm">{{ form_widget(wishForm.title) }}</div>
            {{ form_errors(wishForm.title) }}

            <div class="label">{{ form_label(wishForm.description) }} :</div>
            <div class="detailForm">{{ form_widget(wishForm.description) }}</div>
            {{ form_errors(wishForm.description) }}

            <div class="label">{{ form_label(wishForm.author) }} :</div>
            <div class="detailForm">{{ form_widget(wishForm.author) }}</div>
            {{ form_errors(wishForm.author) }}

            <div class="detailForm">
                {% for category in wishForm.category %}
                    <div>{{ form_widget(wishForm.category.name) }}</div>
                {% endfor %}
            </div>

            <div class="case_btn_create">
                <button class="btn_envoyer">Envoyer</button>
                <button class="btn_retour"><a class="modif_btn_retour_create" href="{{ path('wish_list') }}">Retour</a></button>
            </div>

            {{ form_end(wishForm)}}


        </div>


    </div>

{% endblock %}

