{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Création souhait
{% endblock %}



{% block body %}
    <h1>Creation Wish</h1>

    <div class="element">
        <div class="afficheForm">
            {{ form_start(wishForm) }}

            <div class="label">{{ form_label(wishForm.title) }} :</div>
            <div class="descForm">{{ form_widget(wishForm.title) }}</div>
            {{ form_errors(wishForm.title) }}

            <div class="label">{{ form_label(wishForm.description) }} :</div>
            <div class="descForm">{{ form_widget(wishForm.description) }}</div>
            {{ form_errors(wishForm.description) }}

            <div class="label">{{ form_label(wishForm.author) }} :</div>
            <div class="descForm">{{ form_widget(wishForm.author) }}</div>
            {{ form_errors(wishForm.author) }}

            <button class="btn_envoyer">Envoyer</button>
            {{ form_end(wishForm)}}
        </div>
    </div>

{% endblock %}

