{% extends 'base.html.twig' %}


    {% block body %}
        <h1>Wish : {{ wish.title }}</h1>

        <div class="element1">
            <h2 class="desc1">Souhait : {{ wish.title }}</h2>

            <div class="desc1"><li>Description : {{ wish.description }}</li></div><br>
            <div class="desc1"><li>Author : {{ wish.author }}</li></div><br>
            <div class="desc1"><li>Date : {{ wish.dateCreated.format('d-m-Y - H:m') }}</li></div><br>

        </div>


    {% endblock %}


    {% block title %}
         {{ parent() }} | Détails idées

    {% endblock %}