<nav>

    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('main_about') }}">About us</a></li>
        <li><a href="{{ path('wish_list') }}">Wish List</a></li>
        <li><a href="{{ path('wish_create') }}">Creation wish</a></li>
    </ul>

</nav>