<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('main_about') }}">About us</a></li>

        {% if app.user %}
            <li><a href="{{ path('wish_list') }}">Wish List</a></li>
            <li><a href="{{ path('wish_create') }}">Creation wish</a></li>

            <div class="case_pseudo">
                <li class="pseudo"><a href="#">Bienvenue {{app.user.pseudo}} </a></li>
                <li class="pseudo"><a href="{{ path('app_logout') }}" title="Logout">Logout</a></li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_index') }}" title="Administration">Administration</a></li>
                {% endif %}
            </div>




        {% else%}
            <div class="case_pseudo">
                <li><a href="{{ path('app_login') }}" title="Login">Login</a></li>
                <li><a href="{{ path('app_register') }}" title="Create a new account">Create a new account</a></li>
            </div>

        {% endif %}


    </ul>

</nav>